@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap&family=Share+Tech&display=swap");
/********Root CSS*****/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: pointer;
  scroll-behavior: smooth;
}
:root {
  --background-color: rgb(1, 1, 34);
  --text-color: #c5c6c7;
  --buttontext-color: #ff0f7b;
  --font-header: "Poiret One", cursive;
  --font-text: "Share Tech", sans-serif;
}
html,
body {
  font-size: 62.5%;
  background-color: var(--background-color);
}
.max-width {
  width: min(350ch, 100% - 4rem);
  margin-inline: auto;
}
/*********Navigation Bar**********/
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1rem 4rem;
}
.navbar a {
  font-size: 6rem;
  font-family: var(--font-header);
  font-weight: bolder;
  text-decoration: none;
  color: var(--text-color);
}
span {
  color: var(--buttontext-color);
}
.navbar-links {
  display: flex;
  padding-top: 2.5rem;
  gap: 4rem;
}
.hamburger {
  display: none;
}
.bar {
  display: block;
  width: 2.5rem;
  height: 0.3rem;
  margin: 0.5rem auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}
.navbar-links li a {
  font-size: 2rem;
  list-style-type: none;
  font-family: var(--font-text);
  text-decoration: none;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
li .play-button {
  background-color: var(--buttontext-color);
  color: var(--text-color);
  padding: 1rem 3rem;
  border-radius: 0.3rem;
}

/*********Home Container CSS************/
.home-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 7rem;
}
.home-container h1 {
  font-size: 10rem;
  font-family: var(--font-header);
  color: var(--text-color);
}
.home-container p {
  font-size: 2rem;
  font-family: var(--font-text);
  color: var(--text-color);
}
/*********About Container CSS************/
.about-container {
  margin-top: 10rem;
}
.about-container h1 {
  font-size: 10rem;
  font-family: var(--font-header);
  color: var(--buttontext-color);
}
.about-container p {
  margin-top: 3rem;
  font-family: var(--font-text);
  font-size: 2.5rem;
  color: var(--text-color);
  line-height: 3.5rem;
  text-align: justify;
}

/*********Result Container CSS************/
.result-container {
  margin-top: 10rem;
}
.result-container h1 {
  font-size: 10rem;
  font-family: var(--font-header);
  color: var(--buttontext-color);
}
.result-container p {
  margin-top: 3rem;
  font-family: var(--font-text);
  font-size: 2.5rem;
  color: var(--text-color);
  line-height: 3.5rem;
  text-align: justify;
}
/*********Responsive Media Query************/
@media only screen and (max-width: 988px) {
  .navbar-links {
    position: fixed;
    left: -100%;
    top: 10rem;
    flex-direction: column;
    background-color: black;
    width: 100%;
    height: 100vh;
    text-align: center;
    transition: 0.3s;
    z-index: 4;
  }

  .navbar-links.active {
    left: 0;
  }

  .navbar-links li {
    margin: 2.5rem 0;
  }

  .hamburger {
    display: block;
    margin-top: 2rem;
    cursor: pointer;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
    color: var(--primary-button);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
    color: var(--primary-button);
  }
}

::-webkit-scrollbar {
  display: none;
}
